<%= form_with(model: headphone, local: true) do |form| %>
  <% if headphone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(headphone.errors.count, "error") %> prohibited this headphone from being saved:</h2>

      <ul>
        <% headphone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :LaptopName %>
    <%= form.text_field :LaptopName %>
  </div>

  <div class="field">
    <%= form.label :Memory %>
    <%= form.text_field :Memory %>
  </div>

  <div class="field">
    <%= form.label :Condition %>
    <%= form.text_field :Condition %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
