<p id="notice"><%= notice %></p>

<h1>Headphones</h1>

<table>
  <thead>
    <tr>
      <th>Laptopname</th>
      <th>Memory</th>
      <th>Condition</th>
      <th>Location</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headphones.each do |headphone| %>
      <tr>
        <td><%= headphone.LaptopName %></td>
        <td><%= headphone.Memory %></td>
        <td><%= headphone.Condition %></td>
        <td><%= headphone.Location %></td>
        <td><%= headphone.Price %></td>
        <td><%= link_to 'Show', headphone %></td>
        <td><%= link_to 'Edit', edit_headphone_path(headphone) %></td>
        <td><%= link_to 'Destroy', headphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Headphone', new_headphone_path %>
