<p id="notice"><%= notice %></p>

<h1>Cell Phones</h1>

<table>
  <thead>
    <tr>
      <th>Cellphonename</th>
      <th>Type</th>
      <th>Memory</th>
      <th>Condition</th>
      <th>Location</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cell_phones.each do |cell_phone| %>
      <tr>
        <td><%= cell_phone.CellPhoneName %></td>
        <td><%= cell_phone.Type %></td>
        <td><%= cell_phone.Memory %></td>
        <td><%= cell_phone.Condition %></td>
        <td><%= cell_phone.Location %></td>
        <td><%= cell_phone.Price %></td>
        <td><%= link_to 'Show', cell_phone %></td>
        <td><%= link_to 'Edit', edit_cell_phone_path(cell_phone) %></td>
        <td><%= link_to 'Destroy', cell_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell Phone', new_cell_phone_path %>
