<div class="card col-4">
  <div class="card-header">
    <h1>Cell Phones</h1>
  </div>
  <% @cell_phones.each do |cell_phone| %>
  <div class="card-body">
    
        <p class="card-text"><%= cell_phone.CellPhoneName %></p>
        <p class="card-text"><%= cell_phone.Type %></p>
        <p class="card-text"><%= cell_phone.Memory %></p>
        <p class="card-text"><%= cell_phone.Condition %></p>
        <p class="card-text"><%= cell_phone.Location %></p>
        <p class="card-text"><%= cell_phone.Price %></p>
    
  </div>
  <div class="card-footer">
    <p class="card-text"><%= link_to 'Show', cell_phone %></p>
        <p class="card-text"><%= link_to 'Edit', edit_cell_phone_path(cell_phone) %></p>
        <p class="card-text"><%= link_to 'Destroy', cell_phone, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <% end %>
</div>









<p id="notice"><%= notice %></p>


<%= link_to 'New Cell Phone', new_cell_phone_path %>
